body {
  margin: 0;
  padding: 0;
  background-image: url('Burger.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 57%;
}

.navbar {
  z-index: 101;
  width: 100%;
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vh;
  display: flex;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px 4px #777 
}
.subtitle {
  font-size: 25px;
  text-shadow: 3px 3px 4px #777 
}
.button {
  display: inline-block;
  background-color: #957d4e;
  color: #ffffff;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 2px;
  margin-top: 20px;
}
.navigation-text {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .65vw;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
  font-family: "Work sans v18 latin 600", sans-serif;
  color: black;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1vh 1.5vw;
  overflow: hidden;
}

