body {
    margin: 0;
    padding: 72px;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 57%;
  }
  